<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SWSEGIPSoap" />
                <binding name="SWSEGIPSoap1" />
                <binding name="SWSEGIPSoap2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54238/SWSERECI.asmx" binding="basicHttpBinding"
                bindingConfiguration="SWSEGIPSoap" contract="SWSERECI.SWSEGIPSoap"
                name="SWSEGIPSoap" />
            <endpoint address="http://localhost:54238/SWSERECI.asmx" binding="basicHttpBinding"
                bindingConfiguration="SWSEGIPSoap1" contract="ServiceReferenceCertificadoNac.SWSEGIPSoap"
                name="SWSEGIPSoap1" />
            <endpoint address="http://localhost:54238/SWSERECI.asmx" binding="basicHttpBinding"
                bindingConfiguration="SWSEGIPSoap2" contract="SRMatrimonio.SWSEGIPSoap"
                name="SWSEGIPSoap2" />
        </client>
    </system.serviceModel>
</configuration>