<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SWConsultaSaldoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62910/SWConsultaSaldo.asmx"
                binding="basicHttpBinding" bindingConfiguration="SWConsultaSaldoSoap"
                contract="ServiceReferenceConsulta.SWConsultaSaldoSoap" name="SWConsultaSaldoSoap" />
        </client>
    </system.serviceModel>
</configuration>