<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceBANCOSoap" />
                <binding name="WebServiceSoap" />
                <binding name="WebServiceBANCOSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64538/WebServiceBANCO.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceBANCOSoap"
                contract="ServiceReferenceCotizacion.WebServiceBANCOSoap"
                name="WebServiceBANCOSoap" />
            <endpoint address="http://localhost:64538/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap" contract="ServiceReferenceFactura.WebServiceSoap"
                name="WebServiceSoap" />
            <endpoint address="http://localhost:64538/WebServiceBANCO.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceBANCOSoap1"
                contract="ServiceReference1.WebServiceBANCOSoap" name="WebServiceBANCOSoap1" />
        </client>
    </system.serviceModel>
</configuration>